<div style="padding-left: 50px">
	<title> myFood 2.0 </title>
    	<h1><br><u>myFood2.0</u> - Today is {{today_date}} </br></h1>
	<br></br>

	<b>{{ message }}</b>
	<p></p>
	<i>{{ commitMessage }}</i>
	<p></p>
    	<form method="post">
          <select name="mealdrop">
		<option "value"=Lunch>Lunch</option>
		<option "value"=Dinner>Dinner</option>
		<option "value"=Miscellaneous>Miscellaneous</option>
	    </select><b></br>

	    <p><select name="monthdrop">
                <option "value"=January>January</option>
                <option "value"=February>February</option>
                <option "value"=March>March</option>
                <option "value"=April>April</option>
                <option "value"=May>April</option>
                <option "value"=June>June</option>
                <option "value"=July>July</option>
                <option "value"=August>August</option>
                <option "value"=September>September</option>
                <option "value"=October>October</option>
                <option "value"=November>November</option>
                <option "value"=December>December</option>
            </select>
            
            <select name="daydrop">
                <option "value"=1>1</option>
                <option "value"=2>2</option>
                <option "value"=3>3</option>
                <option "value"=4>4</option>
                <option "value"=5>5</option>	
                <option "value"=6>6</option>	
                <option "value"=7>7</option>	
                <option "value"=8>8</option>	
                <option "value"=9>9</option>	
                <option "value"=10>10</option>	
                <option "value"=11>11</option>	
                <option "value"=12>12</option>	
                <option "value"=13>13</option>	
                <option "value"=14>14</option>	
                <option "value"=15>15</option>	
                <option "value"=16>16</option>	
                <option "value"=17>17</option>
                <option "value"=18>18</option>	
                <option "value"=19>19</option>	
                <option "value"=20>20</option>	
                <option "value"=21>21</option>	
                <option "value"=22>22</option>	
                <option "value"=23>23</option>	
                <option "value"=24>24</option>	
                <option "value"=25>25</option>	
                <option "value"=26>26</option>	
                <option "value"=27>27</option>	
                <option "value"=28>28</option>	
                <option "value"=29>29</option>	
                <option "value"=30>30</option>	
                <option "value"=31>31</option>	
            </select>
            
            <select name="yeardrop">
                <option selected="selected" "value"=2013>2013</option>
                <option "value"=2014>2014</option>
                <option "value"=2015>2015</option>
                <option "value"=2016>2016</option>
            </select></p>

        	<p><label>(Lunch, Dinner, or Misc) $:</label> <input type="text" name="mealMoney"></p>
		<p><button type="submit" name="globalSubmit">Submit</button></p>
		
		<br></br> <br></br>

{% if rows %}
		<table border="1">
		<tr>
			<th> {{ header_row[0] }} </th>
			<th> {{ header_row[1] }} </th>
			<th> {{ header_row[2] }} </th>
			<th> {{ header_row[3] }} </th>
		</tr>
		{% for row in rows %}	
		<tr>
			<td> {{ row[0] }} </td>
			<td> {{ row[1] }} </td>
			<td> {{ row[2] }} </td>
			<td> {{ row[3] }} </td>
		</tr>
		{% endfor %}
		</table>
</div>
    	</form>
